<body>
  <p id="majuscules">text en minuscules</p>
  <p id="url"></p>
  <p id="textgroc">text en color vermell</p>

<table id="modificarmida">

  <tr>
    <td>hola 1</td>
    <td> hola 2 </td>
    <td>hola</td>
  </tr>
</table>

<p id="contarPalabras">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore
  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

<img id="imagen">

</body>
